<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <img src="img/icon.png" class="icon1" alt="Your Icon">
        <h1>Tasks Manager</h1>
        <nav>
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add Task</a></li>
            </ul>
        </nav>
    </div>
        {{{body}}} <!-- This will render the content of other pages -->
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
